@{
    ViewBag.Title = "Contact Management";
}


    <div style="display: flex; flex-direction: column;">

        <span style="font-size: 36px; margin-top: 100px; margin-bottom: 20px; color: white">Welcome to the contacts App</span>
        <a href="/users" class="btn btn-lg btn-info" style="margin: auto;">Go to list</a>
    </div>